.editor {
    width: 100%;
    height: 100%;
    &-left, &-right {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 250px;
        background-color: #232324;
    }
    &-left {
        left: 0;
        color: #000;
        &-content {
            width: 200px;
            margin: 10px auto;
            &-item {
                position: relative;
                width: 200px;
                height: 200px;
                padding: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px #999999 solid;
                color: #ffff;
                cursor: move;
                user-select: none;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: 5;
                }
                .label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding: 6px;
                    background-color: cadetblue;
                }
            }
        }
    }
    &-right {
        right: 0;
        color: #fff;
    }
    &-top {
        position: absolute;
        left: 260px;
        right: 260px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-button {
            width: 60px;
            height: 60px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(0,0,0,0.3);
            color: #5CD9AE;
            border: 1px solid #5CD9AE;
            border-radius: 4px;
            &+& {
                margin-left: 12px;
            }
        }
    }
    &-container {
        padding: 100px 260px 10px;
        width: 100%;
        height: 100%;
        &-content {
            height: 100%;
            overflow: auto;
            &_canvas {
                width: 100%;
                height: 100%;
                position: relative;
                background-color: #232324;
            }
        }
    }
}

.editor-block {
    position: absolute;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
    }
}

.editor-block-focus {
    &::before {
        border: 2px dashed red;
    }
}

.editor-block-no-editor {
    &::before {
        display: none;
    }
}

.line-x {
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px dashed red;
}

.line-y {
    position: absolute;
    left: 0;
    right: 0;
    border-top: 1px dashed red;
}