.editor {
  width: 100%;
  height: 100%;
}

.editor-left, .editor-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 250px;
}

.editor-left {
  left: 0;
  background-color: #3a5e60;
}

.editor-left-content {
  width: 200px;
  margin: 10px auto;
}

.editor-left-content-item {
  position: relative;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #999999 solid;
  color: #ffff;
  cursor: move;
  user-select: none;
}

.editor-left-content-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.editor-left-content-item .label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px;
  background-color: cadetblue;
}

.editor-right {
  right: 0;
  background-color: brown;
}

.editor-top {
  position: absolute;
  left: 260px;
  right: 260px;
  height: 90px;
  background-color: burlywood;
}

.editor-container {
  padding: 100px 260px 10px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.editor-container-content {
  height: 100%;
  overflow: auto;
}

.editor-container-content_canvas {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: chocolate;
}
